
@media screen and (min-width: 960px) {
  html {
    background: #fafafa;
  }
  body {
    background: #fff;
  }
}
.menu li:not([class]) a, a:hover, .copyright a {
  border-bottom: none;
}
.main {
  hyphens: auto;
}
.main, .masthead {
  padding: 1em 40px;
}

blockquote {
  font-size:100%;
  border-left: 3px solid #b2d8b2;
}

code {
  font-size:100%;
  hyphens: none;
  padding: 3px 2px 1px 3px;
  margin: 0 3px;
  border-radius: 3px;
  color: #9d0b48;
  background: #fff8f9;
}

iframe, twitterwidget, video {
  max-width: 100%;
  display: block;
  margin: auto;
}

#TableOfContents {
  background-color: #f8f8f8;
  padding: .5em;
}
table {
  min-width: 50%;
  max-width: 100%;
  margin: auto;
}
pre .nohighlight {
  background-color: transparent;
}
.hljs-comment {
  font-style: inherit;
}
.hljs {
  padding: 1em;
}
.home hr {
  margin: 2em auto 1em;
}
.masthead img {
  max-width: 80px;
}

a {
  color: black;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #b2d8b2;
}

a:hover {
  background: none;
}

sup a {
  border-bottom: none;
}

@media print {
  del, footer, .masthead {
    display: none;
  }
  body {
    max-width: 700px;
  }
  .main {
    margin-left: 0;
    border-left: none;
    padding-left: 10px;
  }
}
