{{ partial "header.html" . }}

{{ if .Params.show_toc }} {{ .TableOfContents }} {{ end }}

{{ if .Content }}

{{ .Content }}

{{ else }}

<ul class="post-list">
  {{ range (where .Data.Pages "Section" "!=" "") }}
  <li class="post-list-item">
    <a class="post-list-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    <time class="post-list-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
  </li>
  {{ end }}
</ul>

{{ end }}

{{ partial "footer.html" . }}
